# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/en/_build/
docs/zh_cn/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

.vscode
.idea
.DS_Store

# custom
*.pkl
*.pkl.json
*.log.json
docs/modelzoo_statistics.md
mmdet/.mim
work_dirs/

# Pytorch
*.pth
*.py~
*.sh~

data/mgd/images
data/usrt/images
scripts
wandb/
artifacts/
run_all.py

data/ucf/train
data/ucf/test

configs/albu_example
configs/atss
configs/autoassign
configs/_base_
configs/carafe
configs/cascade_rcnn
configs/cascade_rpn
configs/centernet
configs/centripetalnet
configs/cityscapes
configs/common
configs/convnext
configs/cornernet
configs/dcn
configs/dcnv2
configs/ddod
configs/deepfashion
configs/deformable_detr
configs/detectors
configs/detr
configs/double_heads
configs/dyhead
configs/dynamic_rcnn
configs/efficientnet
configs/empirical_attention
configs/faster_rcnn
configs/fast_rcnn
configs/fcos
configs/foveabox
configs/fpg
configs/free_anchor
configs/fsaf
configs/gcnet
configs/gfl
configs/ghm
configs/gn
configs/gn+ws
configs/grid_rcnn
configs/groie
configs/guided_anchoring